.searchContainer {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 4px;
    padding: 1%;
}

.textbox{
    font-size:12pt;
    width: 100%;
}